.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  flex: 1;
}

.header {
  width: 100%;
  padding: 0 35px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  height: 70px;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
}

.headerRight {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: #fff;
  background: #04294f;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo img {
  width: 25px;
  margin-right: 5px;
}

.logoText {
  font-size: 20px;
  text-transform: uppercase;
}

/* .logoText span {
  color: var(--mainColor);
} */

.logout {
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.1s;
  cursor: pointer;
  transform: translate(0);
  background: transparent;
  background: white;
  border: 2px solid white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.logout:hover {
  color: white;
  background: rgb(255, 109, 109);
  transform: translate(2px);
  border: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer > span {
  font-size: 1.5rem;
}

.deadTime {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  margin-right: 10px;
}
